/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    font-size: 90%;
    padding: 15px;
    margin-bottom: 15px;
    border: solid 1px #70dd66;
    background-color: #3edfc7;
  }